Library/
Temp/
SaveSelection/
ArenaPlatformCache/

Assets/ProjectInvader/
Assets/Tango/
Assets/BuildDir/
Assets/BuildMe/
Assets/UnityVS/
Assets/LocalOnly/
*.csproj
*.typroj
*.sln
*.userprefs
*.pyc.meta
.DS_Store
*.DS_Store

Assets/ArenaBuild.txt
Assets/ArenaBuild.txt.meta
_PROJECT.meta
Prefabs.meta
Vuforia.meta
Editor.meta
Scripts.meta
UnityVS.Arena.v12.suo
Qualcomm.Vuforia.UnityExtensions.Editor.userprefs.meta
Cardboard.meta